{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
    <style type="text/css">
    </style>
<script>
    $( document ).ready(function() {
        $('#sis').html('{{si}}')
        var bPer = parseInt('{{ bPer }}')
        var cPer = parseInt('{{ cPer }}')
        var md = parseInt('{{ md }}')
        var nd = parseInt('{{ nd }}')
        var ou = parseInt('{{ ou }}')
        var io = parseInt('{{ io }}')
        var cv1 = parseInt('{{ cv1 }}')
        var cv2 = parseInt('{{ cv2 }}')
        var cv3 = parseInt('{{ cv3 }}')
        var cv4 = parseInt('{{ cv4 }}')
        var cv5 = parseInt('{{ cv5 }}')
        var flov1 = parseInt('{{ flov1 }}');
        var flov2 = parseInt('{{ flov2 }}')
        var flov3 = parseInt('{{ flov3 }}')
        var flov4 = parseInt('{{ flov4 }}')
        var c1 =String('{{c1}}')
        var c2 =String('{{c2}}')
        var c3 =String('{{c3}}')
        var c4 =String('{{c4}}')
        var c5 =String('{{c5}}')
        var flo1 =String('{{flo1}}')
        var flo2 =String('{{flo2}}')
        var flo3 =String('{{flo3}}')
        var flo4 =String('{{flo4}}')
        function cha() {
        var ctx1 = document.getElementById("myChart1");
        var myChart = new Chart(ctx1, {
           type: 'pie',
           data: {
           labels: ["민간 비율 %", "공공 비율 %"],
           datasets: [{
               label: ' 단체별',
               data: [bPer, cPer],
               backgroundColor: [
               'rgba(54, 162, 235, 1)',
                                   'rgba(255, 99, 132, 1)'
               ],
           }]
           },
        })
        var ctx2 = document.getElementById("myChart2");
           var myChart = new Chart(ctx2, {
           type: 'bar',
           data: {
           labels: ["실내","실외"],
           datasets: [{
           label: '실내외',
           data: [io,ou],
           backgroundColor: [
           'rgba(255, 100, 132, 0.2)',
           'rgba(255, 200, 86, 0.2)'
           ],
           }]
           },
   })

   var ctx3 = document.getElementById("myChart3");
   var myChart = new Chart(ctx3, {
   type: 'bar',
   data: {
                   labels: ["의무시설","비의무시설"],
           datasets: [{
                   label: '의무성',
                   data: [md,nd],
                   backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(255, 205, 86, 0.2)'
                   ],
           }]
   },
   })
   var ctx4 = document.getElementById("myChart4");
   var myChart = new Chart(ctx4, {
           type: 'polarArea',
           data: {
                   labels:[c1,c2,c3,c4,c5],
                   datasets: [{
                   label: ["인기놀이 시설"],
                   data: [cv1,cv2,cv3,cv4,cv5],
                   backgroundColor: [
                           'rgba(255, 99, 132, 0.2)',
                           'rgba(255, 205, 86, 0.2)',
                           'rgba(75, 192, 192, 0.2)',
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(75, 132, 122, 0.2)'
                           ],
                   }]
           },
   })
   var ctx5 = document.getElementById("myChart5");
   var myChart = new Chart(ctx5, {
           type: 'doughnut',
           data: {
           labels: [flo1,flo2,flo3,flo4],
           datasets: [{
                   label: ["바닥재별"],
                   data: [flov1,flov2,flov3,flov4],
                   backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(255, 205, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(54, 162, 235, 0.2)'
                   ],
           }]
           },
   })
   }
   cha();

   $("#guselect").change(function() {
               var su = $("#guselect option:selected").val()
       $.ajax({
           url:'/sival/',
           type:"POST",
           data:{'su':su},
           dataType:'json',
           success: function(msg){
               var obj = JSON.parse(msg)
               var beo = obj.bPer
               var ceo = obj.cPer
               var mdo = obj.md
               var ndo = obj.nd
               var ouo = obj.ou
               var ioo = obj.io
                   var c1o = toString(obj.c1)
                   var c2o = toString(obj.c2)
                   var c3o = toString(obj.c3)
                   var c4o = toString(obj.c4)
                   var c5o = toString(obj.c5)
                   var cv1o = obj.cv1
                   var cv2o = obj.cv2
                   var cv3o = obj.cv3
                   var cv4o = obj.cv4
                   var cv5o = obj.cv5
                   var flo1o = toString(obj.flo1)
                   var flo2o = toString(obj.flo2)
                   var flo3o = toString(obj.flo3)
                   var flo4o = toString(obj.flo4)
                   var flov1o = obj.flov1
                   var flov2o = obj.flov2
                   var flov3o = obj.flov3
                   var flov4o = obj.flov4
               var siva = obj.siva

               $('#sis').html(siva);
               cha(bPer=beo,cPer=ceo,md=mdo,nd=ndo,ou=ouo,io=ioo,c1=c1o,c2=c2o,c3=c3o,c4=c4o,c5=c5o,cv1=cv1o,cv2=cv2o,cv3=cv3o,cv4=cv4o,cv5=cv5o,flo1=flo1o,flo2=flo2o,flo3=flo3o,flo4=flo4o,flov1=flov1o,flov2=flov2o,flov3=flov3o,flov4=flov4o);
                                       }
               ,  error:function(request,status,error){
                       alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
               }
           });

       })

   })
</script>
</head>
<body>
   <select id="guselect">
     {% for i in guList %}
       <option id='guname' value="{{i}}">{{i}}</option>
     {% endfor %}
   </select>
   <!-- <div id='sis'></div> -->
   <div id="s1">
       <div id='t1' style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">민간,공공시설분포</div>
       <div id="chart1">
           <canvas id="myChart1"></canvas>
       </div>
   </div>
   <div id="s2" >
       <div id='t2' style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">실내 외 시설 수</div>
       <div id="chart2">
           <canvas id="myChart2"></canvas>
       </div>
   </div>
   <div id="s3">
       <div id='t3' style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">의무시설 및 비의무시설 수</div>
       <div id="chart3">
           <canvas id="myChart3"></canvas>
       </div>
   </div>
   <div id="s4">
       <div id='t4' style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">놀이시설 Top5</div>
       <div id="chart4">
           <canvas id="myChart4"></canvas>
       </div>
   </div>
   <div id="s5">
       <div id='t5' style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">종류 별 바닥재 사용 수</div>
               <div id="chart5">
           <canvas id="myChart5"></canvas>
       </div>
   </div>
</body>
</html>

